    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: "IBM Plex Mono", monospace;
        background-color: var(--corFundoP);
    }
    :root {
        --corFundoP: #F4EFE5;
        --corFundoD: #172923;
        --corBegeD: #E9D9A3;
        --corVemelhoD: #B53A27;
        --corBrancoQ: #FFFFF6;
        --corCinzabordas: #E9E5DC;
        --corTexto: #000000;
        --maxWidth: 1100px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 60px;
        background-color: var(--corFundoP);
        font-size: 13px;
        letter-spacing: 0.5px;

    }

    header img {
        width: 125px;
    }

    nav {
        display: flex;
        gap: 30px;
    }

    nav a {
        color: var(--corTexto);
        text-decoration: none;
        transition: color 0.2s;
    }

    .verCardapio {
        color: var(--corTexto);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 6px;
        transition: color 0.2s;
    }

    .verCardapio span {
        font-size: 10px;
    }

    .hero {
        margin-top: 130px  ;
        gap: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        .texto-principal {
            font-family: "Cormorant Garamond", serif !important;
            font-size: 50px;
            letter-spacing: 0.1px;
        }

        .textinho-principal {
            color: var(--corVemelhoD);
            font-style: italic;
        }

        .linhas-verdes {
            display: flex;
            gap: 15px;
            margin: 70px 0 70px 0px;
        }

        .linha-verde{
            background-color: #294f30;
            width: 220px;
            height: 10px;
            border: #000000 solid 0.8px;

        }
        .linha-branca{
            background-color: #F4EFE5;
            width: 220px;
            height: 10px;
            border: #000000 solid 0.8px;

        }
    }

    .mapa{
        iframe{
            height: 600px;
        }
    }

    .texto-vermelho{
        color: var(--corVemelhoD);
        margin-bottom:20px;
        
    }

    .texto-localizacao{
        font-family: "Cormorant Garamond", serif; 
        font-size: 20px;
        a{

        }
        .margem{
            margin-bottom: 20px;
        }
    }

    .sobre{
        display: flex;
        justify-content: space-between;
    }

    .sobre-blocos{
        width: 300px ;
        a{
            font-family:"IBM Plex Mono", monospace; 
            color: #000000;
            text-decoration: none;
        }
    }

    .texto-faledireto{
        p{
            margin-bottom: 15px;
        }
        text-decoration: underline;
    }
   
    .segsex{
        display: flex;
        justify-content: space-between;
        margin-right: 40px; 
        margin-bottom: 15px; 
    }
    
    .sab{
        display: flex;
        justify-content: space-between;
        margin-right: 40px; 
        margin-bottom: 15px; 
    }
    
    .dom{
        display: flex;
        justify-content: space-between;
        margin-right: 40px;
        margin-bottom: 15px; 
    }